In [ ]:
pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.16.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.47)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: tokenizers!=0.11.3,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.11.4)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)

In [ ]:
!pip install nlpaug

Requirement already satisfied: nlpaug in /usr/local/lib/python3.7/dist-packages (1.1.10)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (1.19.5)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (1.3.5)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->nlpaug) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->nlpaug) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->nlpaug) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (3.0.4)

In [ ]:
import nlpaug.augmenter.char as nac
import nlpaug.augmenter.word as naw
import nlpaug.augmenter.sentence as nas
import nlpaug.flow as naf
import pandas as pd

from nlpaug.util import Action

In [ ]:
df=pd.read_csv('train.En.csv')
df.head(1)

   Unnamed: 0  ... rhetorical_question
0           0  ...                 0.0

[1 rows x 10 columns]

In [ ]:
df1=df[:868]

In [ ]:
TOPK=20 #default=100
ACT = 'insert' #"substitute"
 
aug_bert = naw.ContextualWordEmbsAug(
    model_path='distilbert-base-uncased', 
    #device='cuda',
    action=ACT, top_k=TOPK)
# print("Original:")
# print(test_sentence)
# print("Augmented Text:")

In [ ]:
d={}
a =0
for tweet in list(df1['tweet'][0:867]):
  #if list(df['irony']==1):
  #if  df1.loc[df1[df1['tweet']==tweet].index.values[0],'sarcastic']==1:
    for i in range(3):
      augmented_text = aug_bert.augment(tweet)
      d[augmented_text]=1
    a=a+1
    print(a)

In [ ]:
len(d)

2601

In [ ]:
data = {'tweet':list(d.keys()),
        'sarcastic': list(d.values())} 
new = pd.DataFrame.from_dict(data)
  
new.head(5)

                                               tweet  sarcastic
0  the biggest only problem thing i got from coll...          1
1  the absolutely only thing i got fired from the...          1
2  perhaps the second only nice thing i got out f...          1
3  i love it when college professors randomly dra...          1
4  i really love it funny when professors constan...          1

In [ ]:
frames = [new, df]
  
result = pd.concat(frames)

In [ ]:
result

                                                  tweet  ...  rhetorical_question
0     the biggest only problem thing i got from coll...  ...                  NaN
1     the absolutely only thing i got fired from the...  ...                  NaN
2     perhaps the second only nice thing i got out f...  ...                  NaN
3     i love it when college professors randomly dra...  ...                  NaN
4     i really love it funny when professors constan...  ...                  NaN
...                                                 ...  ...                  ...
3463  The population spike in Chicago in 9 months is...  ...                  NaN
3464  You'd think in the second to last English clas...  ...                  NaN
3465  I’m finally surfacing after a holiday to Scotl...  ...                  NaN
3466  Couldn't be prouder today. Well done to every ...  ...                  NaN
3467  Overheard as my 13 year old games with a frien...  ...                  NaN

[6069 rows x 10 columns]

In [ ]:
result=result.drop(['Unnamed: 0'],axis=1)
result

                                                  tweet  ...  rhetorical_question
0     the biggest only problem thing i got from coll...  ...                  NaN
1     the absolutely only thing i got fired from the...  ...                  NaN
2     perhaps the second only nice thing i got out f...  ...                  NaN
3     i love it when college professors randomly dra...  ...                  NaN
4     i really love it funny when professors constan...  ...                  NaN
...                                                 ...  ...                  ...
3463  The population spike in Chicago in 9 months is...  ...                  NaN
3464  You'd think in the second to last English clas...  ...                  NaN
3465  I’m finally surfacing after a holiday to Scotl...  ...                  NaN
3466  Couldn't be prouder today. Well done to every ...  ...                  NaN
3467  Overheard as my 13 year old games with a frien...  ...                  NaN

[6069 rows x 9 columns]

In [ ]:
pip install pandas --upgrade

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
result.to_csv('aug_data.csv')